<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual Input</title>
</head>
<body>
    <h1>Please Enter the query</h1>
    <form action="/res" method="get">
        <label for="query">Enter query</label>
        <input type="text" name="query">
        <br>
        <button type="submit">Submit</button>
        <br>
        <button type="reset">Reset</button>
    </form>
</body>
</html>